### Installing mysql

- Visit the official website: https://dev.mysql.com/downloads/installer/

- Choose your operating system details.

- Comphrensive instructions for installation and setting up MySQL: https://www.wikihow.com/Install-the-MySQL-Database-Server-on-Your-Windows-PC

### What is database?

- Organized collection of data typically stored electronically on a machine.

### What is DBMS?

- Database Management System(DBMS) a piece of software used to manipulating database.

### What is Relational Databases?

- storing data inside databases in the form of tables with rows and columns

### What is SQL?

- Sequential Query Language(SQL) is a programming language used by nearly all relational databases to query, manipulate, etc.

### What is MySQL database?

- it is an open-source relational database management system(DBMS) based on SQL.

### Performing some stuff with MySQL

#### Creating a user

**Syntax** 
```sql
create user 'user'@'host' identified by 'password';`
```

#### Grant Privileges

**Syntax**
```sql
grant type_of_permission on database.table to 'user'@'host'
```

##### Example

```sql
grant all privileges on *.* to 'user'@'localhost'
```
- grants all privileages on all databases and all tables to 'user' at 'localhost'.

#### Checking Grants

- Don't forget to reload permissions first
```sql
flush privileges
```

**Syntax**
```sql
show grants for 'user'@'localhost'
```

#### Listing all databases

```sql
show databases
```

#### Creating a database

```mysql
create database db_name
```

#### Seeing the created database

```sql
show create database db_name
```

#### Using a database

```sql
use db_name
```

#### Creating a table

```sql
create table table_name(
column_1_definition
column_2_definition
table constraints
)
```

##### Column Definition

- Format

```sql
column_name data_type(length) [not null] [default value] [auto_increment] column_constraint;
```

##### Example

```sql
create table user(
    id int not null auto_increment primary key,
    name varchar(100) not null
)
```

#### Seeing the created table

```sql
describe table_name
```

#### Inserting values into table

**Format**
```sql
insert into table_name (column_1_name, column_2_name) values (value_1, value_2)
```

#### Read Operation

```sql
select column_name from table_name
```

#### Alter Operation

**Format**
```sql
alter table table_name OPERATION
```

**Example**

- Add a column `age` to the table `user` with default value `0`.
```sql
alter table user add column age int(2) default 0
```

#### Update Operation

**Format**

```sql
update table_name set column1 = value1, column2 = value2 where condition 
```

**Example**

- Update column `age` to `26` where column `name` has the value `abhi`.
```sql
update user set age=26 where name='abhi'
```

#### Delete Operation

```sql
delete from table_name  where condition
```

**Example**

- delete the entries(rows) where the column `name` has a value `abhi`
```sql
delete from user where name='abhi'
```

### Transaction

#### Example

![](../images/transaction.png)

#### Database Operations

- update balance in the saving account table.
- add an entry in the transaction table.
- update balance in the current account table.

#### When are transaction required?

- when performing a complex set of queries.

- intermediate queries can result in errors.

#### Handling Transactions

![](../images/handling-transaction.png)

#### Commit Operation

- Operation Executed Successfully.

#### Rollback Operation

- Operation didn't execute successfully.

#### Example

```sql
start transaction
# update value
update users set age=12 where id=2
# rollback to the original state
rollback
```

### Performing the above queries in `Python`

#### Using a virtual env

- Virtual environments helps in keeping dependencies separate as per project requirements.
- They also help in keeping the system wide python environment clean.

#### Making a virtual env


```sh
python3 -m venv {PATH_TO_VIRTUAL_ENV}
```

#### Activating virtual env

- On Unix based operating systems
```sh
. {PATH_TO_VIRTUAL_ENV}/bin/activate
```
- On Windows based operating system

```sh
. {PATH_TO_VIRTUAL_ENV}\Scripts\activate
```

#### Installing `pymysql` inside virtual environment

- ```sh
pip install PyMySQL[rsa]
```
- extensive documentation regarding the library can be looked up at: https://pymysql.readthedocs.io

#### Performing CRUD(create, read, update, delete) operations

In [1]:
import pymysql.cursors

# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='tester',
                             password='test',
                             database='test',
                             cursorclass=pymysql.cursors.DictCursor)

with connection:
    # do something
   with connection.cursor() as cursor:
        sql = "update `user` set `age` = %s where `name` = %s"
        cursor.execute(sql, (23, 'python'))

        # connection is not autocommit by default. So you must commit to save your changes.
        connection.commit()

ModuleNotFoundError: No module named 'pymysql'

- Now check for the change from logging into the mysql shell

#### Error Handling

In [ ]:
import pymysql.cursors

# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='tester',
                             password='test',
                             database='test',
                             cursorclass=pymysql.cursors.DictCursor)

with connection:
    # do something
   with connection.cursor() as cursor:
        try:
            # there's an intentional misspelling in this query, to catch the exception
            sql = "ipdate `user` set `age` = %s where `name` = %s"
            cursor.execute(sql, (23, 'python'))

            # connection is not autocommit by default. So you must commit to save your changes.
            connection.commit()
        except pymysql.err.ProgrammingError:
            print('Exception catched!!!')